<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<form action="#" name="form--robocopy" id="form--robocopy">
		<div class="form-group row">
			<div class="col-sm-10 pb-3">
				<input type="text" class="form-control inputPersonalizado" id="inputOrigem"
					placeholder="Informe o Diretório de Origem">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<input type="text" class="form-control inputPersonalizado" id="inputDestino"
					placeholder="Informe o Diretório de Destino">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10 pt-3">
				<div class="form-check">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkbox-log">
					<label class="labelPersonalizado form-check-label" for="checkbox-log">
						Deseja Salvar Log ??
					</label>
				</div>
				<div class="col-sm-10 pb-3">
					<input type="text" class="form-control inputPersonalizado hidden" id="inputLog"
						placeholder="Caminho Para Salvar o Log">
				</div>
				<!-- Checkbox-MT -->
				<div class="form-check">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkboxMT">
					<label class="labelPersonalizado form-check-label" for="checkboxMT">
						Deseja Usar Multithreading ??
					</label>
				</div>
				<div class="col-sm-10 pb-3">
					<label class="col-sm-2 col-form-label labelPersonalizado hidden" id="labelMT" for="inputMT">
						Informe a Quantidade de Threads
					</label>
					<input type="number" class="form-control inputPersonalizado hidden" id="inputMT">
				</div>
				<!-- Checkbox Outras Opções -->
				<div class="form-check pb-3">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkboxXJD">
					<label class="labelPersonalizado form-check-label" for="checkboxXJD">
						Não Copiar Junções de Diretórios ??
					</label>
				</div>
				<div class="form-check pb-3">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkboxXJF">
					<label class="labelPersonalizado form-check-label" for="checkboxXJF">
						Não Copiar Junções de Arquivos ??
					</label>
				</div>
				<!-- Checkbox Exlcusão Diretórios e Arquivos -->
				<div class="form-check">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkboxExcluirDir">
					<label class="labelPersonalizado form-check-label" for="checkboxExcluirDir">
						Deseja Excluir Diretórios da Cópia ??
					</label>
				</div>
				<div class="col-sm-10 pb-3">
					<input type="text" class="form-control inputPersonalizado hidden" id="inputExcluirDir"
						placeholder="Informe Diretórios Separados Por Vírgula">
				</div>

				<div class="form-check">
					<input class="form-check-input checkboxPersonalizado" type="checkbox" id="checkboxExcluirArquivos">
					<label class="labelPersonalizado form-check-label" for="checkboxExcluirArquivos">
						Deseja Excluir Arquivos da Cópia ??
					</label>
				</div>
				<div class="col-sm-10 pb-4">
					<input type="text" class="form-control inputPersonalizado hidden" id="inputExcluirArquivos"
						placeholder="Informe Arquivos Separados Por Vírgula">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				<button onclick="enviarDados(event)" class="btn btn-primary" id="btnEnviarDados">Copiar</button>
			</div>
			<div class="col">
				<p class="texto-copiando pt-3">Copiando <span class="animaPontinhos">...</span></p>
			</div>
		</div>
		<script src="script.js"></script>
	</form>
</body>

</html>